@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Bitcount:wght@100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import "tailwindcss";

@theme {
  --font-bitcount: "Bitcount", system-ui;
  --font-bitcount-single: "Bitcount Single", system-ui;
  --font-old-standard: "Old Standard TT", serif;

  --color-muted-foreground: var(--color-slate-500);
  --color-foreground: var(--color-slate-900);
  --color-background: var(--color-slate-50);
  --color-primary: var(--color-slate-800);
  --color-accent: var(--color-orange-300);
}

:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-muted-foreground: var(--color-gray-400);
    --color-foreground: var(--color-slate-200);
    --color-background: #0e0e10;
    --color-primary: var(--color-slate-300);
    --color-accent: var(--color-orange-300);
  }
}

a {
  @apply underline-offset-4;
}

@view-transition {
  navigation: auto;
}
